.results {
    padding: 16px;
}

.result-list {
    padding: 20px 16px;
}

.result-item {
    display: flex;
    gap: 20px;
    padding: 20px 16px;
    border-top: 2px solid #f5f5f7;
}

.result-item img {
    width: 100px;
    flex-shrink: 0;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 140px;
}