<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book.title}} - 도도리</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/book_detail.css') }}">
</head>

<body>
    <div class="app-container">
        <header>
            <div class="book-header">
                <a href="" class="back-btn">←</a>
                <span class="header-title">{{book.title}}</span>
            </div>
        </header>
        <main>
            <section class="book-info">
                <div class="book-cover">
                    <img src="{{book.cover_image_url}}" alt="">
                </div>
                <div class="book-details">
                    <h3 class="book-title">{{book.title}}</h3>
                    <span class="book-author">{{book.author}}</span>
                    <div>
                        <span class="book-publisher">{{book.publisher}}</span>
                        <span class="book-pubdate">{{book.publication_year}}</span>
                    </div>
                </div>
            </section>
            <section class="stats-info">
                <div class="stats-item">
                    <span class="stats-value">⭐ 4.5</span>
                    <p class="stats-description">리뷰 <span>324</span>개</p>
                </div>
                <div class="stats-item">
                    <span class="stats-value">📚 1,247</span>
                    <p class="stats-description">총 대출 횟수</p>
                </div>
            </section>
            <section class="ai-section">
                <h3>✨ AI가 분석한 이 책의 핵심</h3>
                <div class="ai-review-list">
                    <div class="pro-card">
                        <p class="pro-card-title">긍정 리뷰 요약</p>
                        <p>{{book.ai_review_pro}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
                            asperiores ullam modi nihil, natus in cumque aperiam officiis delectus odit veniam
                            doloremque repellendus quia, vel nam numquam! Incidunt, labore itaque. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Assumenda explicabo voluptatem perspiciatis nisi?
                            Eaque
                            dolorem tenetur ducimus iusto laborum, numquam accusantium voluptas consequuntur itaque odio
                            sed, quidem tempore. Quisquam, quae.
                        </p>
                    </div>
                    <div class="con-card">
                        <p class="con-card-title">부정 리뷰 요약</p>
                        <p>{{book.ai_review_con}}</p>
                    </div>
                </div>
            </section>

            <section class="review-list">
                <h3>💬 독자 리뷰</h3>
                <div class="review-items">
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐⭐⭐</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
                            asperiores ullam modi nihil, natus in cumque aperiam officiis delectus odit veniam
                            doloremque repellendus quia, vel nam numquam! Incidunt, labore itaque. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Assumenda explicabo voluptatem perspiciatis nisi?
                            Eaque
                            dolorem tenetur ducimus iusto laborum, numquam accusantium voluptas consequuntur itaque odio
                            sed, quidem tempore. Quisquam, quae.</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                    <div class="review-item">
                        <p>2020년 12월 11일</p>
                        <p>⭐⭐</p>
                        <p>리뷰 내용</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>

</html>